 <div class="jumbotron text-center">
  <h1>Customer Counting and Forecasting</h1>
  <br>
  <div class="alert alert-primary" role="alert">
    Save time rather than standing in queues!!!
  </div>
</div>

<div class="container">
  <% @shops.each do |shop| %>
    <center>
      <%= link_to "/shop/#{shop.id}" do %>
        <div class="card bg-secondary text-white">
          <div class="card-body"><%= shop.name %></div>
        </div>
      <% end %>
    </center>
    <br>
  <% end %>
</div>